<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="nz.net.ultraq.thymeleaf">
	<head th:fragment="headerfiles">
		<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/rfc.js}"></script>
		<script type="text/javascript" th:src="@{/js/xlsx.full.min.js}"></script>
		<link th:href="@{/css/rfc.css}" type="text/css" rel="stylesheet" media="screen"/>
		<link th:href="@{/css/ajax.css}" type="text/css" rel="stylesheet" media="screen"/>
		<link th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" type="text/css" rel="stylesheet" media="screen"/>
		<meta th:name="viewId" th:content="${viewId}"/>
		<meta th:name="viewName" th:content="${viewName}"/>
	</head>
</html>