<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="nz.net.ultraq.thymeleaf">
	<div th:fragment="input_field_list(name,fields,isTableEntry,active)" th:id="${name}" th:class="${active ? 'tab-pane fade in active' : 'tab-pane fade'}">
		<h3 th:text="${#strings.toUpperCase(name)}">NAME_HERE</h3>
		<div class="bapi-field-list-viewport">
			<div class="bapi-field-list-container">
				<div class="bapi-field-list-container-row">
					<div th:id="'list_'+${name}" class="babi-field-list">
						<div class="bapi-field-list-controls">
							<button th:if="${isTableEntry}" class="btn btn-danger del-bapi-table-entry" type="button">Del</button>
						</div>
						<div class="babi-field-list-fields">
							<table>
								<tbody>
									<tr th:each="fld : ${fields}" th:include="fragments/material :: input_row" th:with="fieldName=${fld}" th:class="'row-'+${fld.fieldName}" th:attr="data-length=${fld.length},data-type=${fld.type},data-propertyname=${fld.propertyName}"></tr>
								</tbody>
							</table>
						</div>
					</div>
					<div th:if="${isTableEntry}" th:id="'entry_'+${name}" class="babi-field-list bapi-add-table-entry">
						<button class="btn btn-info add-bapi-table-entry" type="button">Add new entry</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<table>
		<tbody>
			<tr th:fragment="input_row">
				<td th:text="${#strings.toUpperCase(fld.fieldName)}" class="function-field">FIELD_NAME<td>
				<td class="input-type">
					<select class="function-field-input-type">
						<option selected="selected">FIELD</option>
						<option>CONSTANT</option>
					</select>	
				</td>
				<td class="input-value">
					<input type="number" min="0" max="255">
				</td>
			</tr>
		</tbody>
	</table>
</html>