<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<div class="content-container" layout:fragment="content">
	<div>
		<h1>SAP RFC services</h1>
		<div id="menu">
			<ul>
				<li><a th:href="@{/po/create}">Create PO</a></li>
				<li><a th:href="@{/po/detail}">View PO</a></li>
				<li><a th:href="@{/po/confirmations}">PO Confirmations</a></li>
				<li><a th:href="@{/material/salesPrice}">Material Sales Price</a></li>
				<li><a th:href="@{/material/main}">Create Material</a></li>
			</ul>
		</div>
	</div>
</div>
</html>