<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<div class="content-container" layout:fragment="content">
	<div id="top">
		<div>
			<h4>Create SAP Purchase Order</h4>
		</div>
		<div id="controls">
			<!-- The button that triggers the Modal -->
			<button type="button" id="btn_login_sap" data-toggle="modal" data-target="#sap_login_modal">SAP Login</button>
	     	<span id="sap_user">No SAP user</span>
			<input type="file" id="btn_choose" value="Import"/>
			<input type="button" id="btn_add" value="Add"/>
			<input type="button" id="btn_save_all" value="Save all"/>
			<label for="btn_testrun">Test run:</label>
			<input type="checkbox" id="chk_testrun_all" checked>
	     	
		</div>
	</div>
    <div th:replace="fragments/bootstrap :: login">
    </div>
	<div id="template">
		<div th:replace="fragments/template :: po">
		</div>
	</div>
	<div id="orders">
		
	</div>
</div>
</html>