<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<div class="content-container" layout:fragment="content">
	<div th:replace="fragments/sap_connection :: sap_connection"></div>
	<div th:replace="fragments/bootstrap :: login"></div>
	<div id="top">
		<h4>Material Sales Price</h4>
	</div>
	<div id="sales_price">
		<input id="btn_test" type="button" value="Test">
	</div>
</div>
</html>